{{extend 'layout.html'}}

<div id="target"></div>

<script id="template" type="text/ractive">
<font size="20" face="verdanda">{{=A('Hotel Finder',_href=URL('default','homepage'))}}</font><br>

<h1></h1><br>
<h4>Name</h4>
    <div class="boardListing">
        <h2></h2>
    </div>
    <br>
    <div class="boardListing">
        <h2></h2>
    </div>
    <br>
    <div class="boardListing">
        <h2></h2>
    </div>

</script>

<script>
$(function() {
    // Ractive object
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {

        },
    });
});
</script>